{% extends "base.html" %}

{% block content %}

<main class="mt-5 pt-4">
  <div class="container dark-grey-text mt-5">

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-2  mb-1">

      </div>
      <div class="col-md-4 mb-4">

        <div class="view overlay">
          {% comment %} <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg"
            class="card-img-top" {% endcomment %} <img src="{{ item.imagen.url }}" class="img-fluid" alt="">
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-5 mb-4">

        <!--Content-->
        <div class="p-4">
          <h5>

            <div class="mb-3">
              <strong>
                <a href="{{ item.get_absolute_url }}" class="blue-text">{{ item.nombre }}

                </a>
              </strong>
              <a href="">
                <span class="badge purple mr-1">{{ object.get_category_display }}</span>
              </a>

            </div>

          </h5>

          <p class="lead">
            {% if object.precio_con_descuento %}
            <span class="mr-1">
              <del>${{ object.precio }}</del>
            </span>
            <span>${{ object.precio_con_descuento }}</span>
            {% else %}
            <span>${{ object.precio }}</span>
            {% endif %}
          </p>

          <p class="lead font-weight-bold">Descripcion</p>

          <p>{{ object.descripcion }}</p>

          {% comment %} <form class="d-flex justify-content-left">
            <!-- Default input -->
            <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
            <button class="btn btn-primary btn-md my-0 p" type="submit">
              Añadir al carrito
              <i class="fas fa-shopping-cart ml-1"></i>
            </button>

          </form> {% endcomment %}
          <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
            Añadir al carrito
            <i class="fas fa-shopping-cart ml-1"></i>
          </a>
          <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
            Quitar del carrito
          </a>

        </div>
        <!--Content-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr>


    <!--Grid row-->

  </div>
</main>

{% endblock content %}